



*{
    top: 100;
    
    position: relative;
   
}


.pos_absol_margtopo
    {
        position: absolute;
        margin-top: 50px;
    }


.pos_absol{
    position: absolute;
    margin-top: 50px;
  }

.teste-menu1{

    z-index: 0;
}

@media(min-width: 360px)and (max-width: 360px){
    
    .minim-op
    {
        width: 500px;
    }

    .minimo-buscar_tabela
    {
        margin-left:100px

    }

    .minimo_tabela
    {
        margin-left:-117px;
    }

    .minimo_input
    {
        width: 320px;
        margin-left: 20px;
        
    }



}





/* *{
    top: 100;
    
    position: relative;
   
} */


.pos_absol_margtopo
    {
        position: absolute;
        margin-top: 50px;
    }


.pos_absol{
    position: absolute;
    margin-top: 50px;
  }

.teste-menu1{

    z-index: 0;
}



@media(min-width: 753px){

    .margem_grande
    {
        margin-left: 300px;
    }
}

.tamanho
{
    width: 470px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
}

    
