



*{
    top: 100;
    
    position: relative;
   
}


.pos_absol_margtopo
    {
        position: relative;
        margin-top: 50px;
    }


.pos_absol{
    position: absolute;
    margin-top: 50px;
  }

.teste-menu1{

    z-index: 0;
}





@media(min-width: 360px)and (max-width: 360px){
    

.mintabelaagora
{
    width: 550px;
}

    .minim-op
    {
        width: 500px;
    }

    .minimo-buscar_tabela
    {
     
        width: 500px;
    }

    .minimo_tabela
    {
        width: 400px;
    }

    .minimo_input
    {
        width: 320px;
        margin-left: 20px;
        
    }

    .minimo_confirma
    {
        width: 300PX;
    }

    .tamanho_pequeno
    {
        width: 570px;
    }

   

}

.pos_absoloute
{
    position: absolute;
}

.pos_relativate
{
    position: relative;
}



/* *{
    top: 100;
    
    position: relative;
   
} */


.pos_absol_margtopo
    {
        position: absolute;
        margin-top: 50px;
    }


.pos_absol{
    position: absolute;
    margin-top: 50px;
  }

.teste-menu1{
    
    z-index: 0;
}



@media(min-width: 753px){

    .margem_grande
    {
        margin-left: 300px;
    }
}

.tamanho
{
    width: 350px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
}



.topo_contatos
{
    top: -100px;
}


@keyframes vai-apagar{
    50%{
    opacity:1 ;
    }
    100%{
    opacity:0 ;
    }
    }

.objeto-apagado
{
    animation: vai-apagar 7s;
    opacity: 0;
   
}

.marg-email
{
    /* width: 1000px; */
    margin-top: 150px;
    position: relative;
    margin-bottom: -200px;
    /* margin-left: 120px; */
    
}

.marg-index2
{
    z-index: 2;
}

.marg-index1
{
    z-index: 1;
}

.margem_notopo
{
    top: 0px;
}

.barra_user
{
    top: 100px;
    position: absolute;
    width: 100% ;
    z-index: 11;
}

.posicao_relativa
{
    position: relative;
}

.login_invalido
{
    z-index: 9;
    width: 400px;
    height: 50px;
    /* background-color: green; */
    position: absolute;
    top: 25%;
    left: 50%;
    transform:translate(-50%,-50%)
    
}

.botao_email
{
    width: 320px;
    left: 50%;
    transform:translate(-50%,0%)
}

.area_reservada
{
    width: 300px;
    left: 50%;
    transform:translate(-50%,0%) 
}

.botao_reservado
{
    width: 300px;
    left: 50%;
    transform:translate(-50%,0%)
}

.carrousel_posicao
{
    top: -100px;
}


.topo_reservado
{
    top: -50px;
}
     


    
